/* HTML ELEMENT STYLES */

body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 0.8em;
    line-height: 1.6em;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bitter', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.2em;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

label {
    display: block;
}

select {
    margin-left: 0;
    max-width: 200px;
}

div {
    position: relative;
}

/* LAYOUT (GENERIC) */

.container {
    width: 695px;
}

.container.float-legend {
    margin-bottom: 160px; /* Space for floating legend */
}

.row {
    margin-bottom: 10px;
}

.column {
    display: inline-block;
}

.column:not(:first-of-type) {
    margin-left: 8px;
}

/* LAYOUT (SPECIFIC) */

#viz {
    margin-top: 20px;
    margin-bottom: 10px;

    -webkit-transition: height 250ms ease-out;
    transition: height 250ms ease-out;
}

#legend, #filter {
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 4px 18px 6px;
}

#legend {
    position: fixed;
    bottom: 0;
    width: 695px;
    margin: 10px 0;
    background-color: white;
    z-index: 300;
}

#legend img {
    margin-top: -10px;
    margin-left: -5px;
    width: 100%;
    height: auto;
}

.reset-container {
    position: absolute;
    right: 0;
    bottom: 0;
}

#hide-legend {
    position: absolute;
    top: 10px;
    right: 16px;
    cursor: pointer;
    font-size: 20px;
    color: gray;
}

#hide-legend:hover {
    color: #27a9e1;
}

#debug {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 260px;
    padding: 10px;
    background-color: #fffff1;
    border: 1px solid lightgray;
    z-index: 20;

    -webkit-transition: right 250ms ease-out;
    transition: right 250ms ease-out;
}

#debug-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    z-index: 30;
}

#debug-close:hover {
    background-color: #f9f9e9;
}

#debug h3 {
    margin-top: 5px;
}

#debug label {
    margin-top: 10px;
}

.debug-content {
    width: 240px;
}

#debug.hide {
    right: 0px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

#debug.hide .debug-content {
    display: none;
}

#debug.hide #debug-close {
    top: 0;
    right: 0;
}

#debug.hide #debug-close:after {
    content: '!';
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #fffff1;
}

/* SVG & VIZ STYLES */

svg {
    /* force Firefox to display properly - why is this bug occurring? */
    overflow: visible;
    height: 100%;
}

.axis path, .axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #e6e7e8;
}

.tick:nth-of-type(2n+1) line {
    stroke: #aaa;
}

.tick text {
    font-size: 0.9em;
    fill: #999;
}

g.indicator {
    cursor: pointer;
}

g.indicator.active {
    cursor: pointer;
}

g rect.background {
    fill: white;
    fill-opacity: 0;
}

g.indicator.active rect.background {
    fill: whitesmoke;
    fill-opacity: 1;
}

line.indicator-line {
    stroke: #e1e1e1;
    stroke-width: 2;
}

text.label {
    /* cursor: pointer; */
    text-align: right;
}

text.value {
}

text.indicator-name {
}

g.indicator.active text.indicator-name {
    font-weight: 700;
}

text.label-today {
    font-size: 0.7em;
    font-weight: 700;
    fill: #888;
}

circle:hover {
    cursor: pointer;
}

circle.highlight {
}

circle.circle-target {
    fill: white;
    fill-opacity: 0;
    stroke-width: 2;
    stroke-opacity: 1;
    stroke: white;
}

circle.circle-subtargets {
    fill-opacity: 0;
    stroke-width: 1;
    stroke-opacity: 1;
    stroke: white;
    display: none;
}

circle.circle-latest {
    fill-opacity: 0.5;
    display: none;
}

circle.circle-subtargets.show,
circle.circle-latest.show,
g.indicator.active circle {
    display: block;
}

text.label {
    font-weight: 700;
    font-size: 11px;
}

text.label-baseline {
}

text.label-measure {
}

text.label-target {
}

text.hidden {
    display: none;
}

g.today line {
    stroke: red;
    stroke-width: 2;
    stroke-opacity: 0.2;
    stroke-dasharray: 5, 4;
}

rect.hoverable {
    cursor: pointer;
    fill: white;
    fill-opacity: 0;
}
