/* HTML ELEMENT STYLES */

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6em;
    font-weight: 400;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

label {
    display: block;
}

select {
    margin-left: 0;
    max-width: 200px;
}

div {
    position: relative;
}

/* LAYOUT (GENERIC) */

.container {
    width: 695px;
}

.container.float-legend {
    margin-bottom: 180px; /* Space for floating legend */
}

.row {
    margin-bottom: 10px;
}

.column {
    display: inline-block;
}

.column:not(:first-of-type) {
    margin-left: 8px;
}

/* LAYOUT (SPECIFIC) */

#viz {
    margin-top: 10px;
    margin-bottom: 10px;

    -webkit-transition: height 250ms ease-out;
    transition: height 250ms ease-out;
}

#legend, #filter {
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 4px 18px 6px;
}

#legend {
    margin: 2px 0 10px 0;
}

#legend img {
    margin-top: -10px;
    margin-left: -5px;
    width: 100%;
    height: auto;
}

#legend h3 {
    margin-top: 5px;
}

#legend-container {
    position: fixed;
    bottom: 0;
    width: 695px;
    padding: 10px 0;
    background-color: white;
    z-index: 300;
}

.reset-container {
    position: absolute;
    right: 0;
    bottom: 0;
}

#hide-legend {
    position: absolute;
    top: 20px;
    right: 16px;
    cursor: pointer;
    font-size: 20px;
    color: gray;
    z-index: 350;
}

#hide-legend:hover {
    color: #27a9e1;
}

#legend-container.hide {
    bottom: 0;
    height: 30px;
    overflow: hidden;
}

#legend-container.hide #legend {
    display: none;
}

#legend-container.hide #hide-legend {
    top: 0;
}

#legend-container.hide #hide-legend:after {
    content: 'show legend';
    position: absolute;
    right: 0;
    background-color: white;
    font-size: 13px;
    white-space: nowrap;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 2px 10px;
}


#debug {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 260px;
    padding: 10px;
    background-color: #fffff1;
    border: 1px solid lightgray;
    z-index: 20;

    -webkit-transition: right 250ms ease-out;
    transition: right 250ms ease-out;
}

#debug-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    z-index: 30;
}

#debug-close:hover {
    background-color: #f9f9e9;
}

#debug h3 {
    margin-top: 5px;
}

#debug label {
    margin-top: 10px;
}

.debug-content {
    width: 240px;
}

#debug.hide {
    right: 0px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

#debug.hide .debug-content {
    display: none;
}

#debug.hide #debug-close {
    top: 0;
    right: 0;
}

#debug.hide #debug-close:after {
    content: '!';
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #fffff1;
}

/* SVG & VIZ STYLES */

svg {
    /* force Firefox to display properly - why is this bug occurring? */
    overflow: visible;
    height: 100%;
}

.axis path, .axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.axis line {
    stroke: #e6e7e8;
}

.tick:nth-of-type(2n+1) line {
    stroke: #aaa;
}

.tick text {
    font-size: 0.9em;
    fill: #999;
}

g rect.background {
    fill: white;
    fill-opacity: 0;
}

g.indicator.active rect.background {
    fill: whitesmoke;
    fill-opacity: 1;
}

line.indicator-line {
    stroke: #e1e1e1;
    stroke-width: 1;
}

text.label {
    /* cursor: pointer; */
    text-align: right;
}

text.value {
}

text.indicator-name {
}

text.indicator-details {
    font-size: 0.75em;
    fill: #aaa;
}

g.indicator.active text.indicator-name {
    font-weight: 700;
}

text.label-today {
    font-size: 0.7em;
    font-weight: 700;
    fill: #888;
}

circle.highlight {
}

circle.circle-target {
    fill: white;
    fill-opacity: 0;
    stroke-width: 2;
    stroke-opacity: 1;
    stroke: white;
}

circle.circle-subtargets {
    fill-opacity: 0;
    stroke-width: 1;
    stroke-opacity: 1;
    stroke: white;
    display: none;
}

circle.circle-latest {
    fill-opacity: 0.5;
    display: none;
}

circle.circle-subtargets.show,
circle.circle-latest.show,
g.indicator.active circle {
    display: block;
}

text.label {
    font-weight: 700;
    font-size: 0.9em;
}

text.label-baseline {
}

text.label-measure {
}

text.label-target {
}

text.hidden {
    display: none;
}

g.today line {
    stroke: red;
    stroke-width: 2;
    stroke-opacity: 0.2;
    stroke-dasharray: 5, 4;
}

rect.hoverable {
    cursor: pointer;
    fill: white;
    fill-opacity: 0;
}

/* LOADING */

#loading {
    text-align: center;
    height: 200px;
}

#loading .three-quarters {
    top: 50%;
    margin-top: -16px;
}

/* Source: http://css-spinners.com/#/spinner/three-quarters/ */

@-webkit-keyframes three-quarters {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes three-quarters {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes three-quarters {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Styles for old versions of IE */
.three-quarters {
    font-family: sans-serif;
    font-weight: 100;
}

/* :not(:required) hides this rule from IE9 and below */
.three-quarters:not(:required) {
    -webkit-animation: three-quarters 1250ms infinite linear;
    -moz-animation: three-quarters 1250ms infinite linear;
    -ms-animation: three-quarters 1250ms infinite linear;
    -o-animation: three-quarters 1250ms infinite linear;
    animation: three-quarters 1250ms infinite linear;
    border: 8px solid #276cb0;
    border-right-color: transparent;
    border-radius: 16px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: -9999px;
    width: 32px;
    height: 32px;
}
